*.iml
.gradle
/local.properties
/.idea.*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/deploymentTargetSelector.xml
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/migrations.xml
